 .article{
    padding: 20px;
    text-align: center;
    font-size: small;
    font-style: italic;
  }
.article-top-right{
  font-style: italic;
}
.wrap {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: #222;
  font-size: 24px;
  margin-bottom: 2%;
}
.clip-block{
  margin-top: 15%;
  margin-bottom: 15%;
}
.clip-caption {
  width: 100%;
  position: relative;  /* absolute*/
  text-align: center;
}
.clip-caption-image{
  margin-top: 30px;
}
.clip-svg {
  width: 0;
  height: 0;
}
.clip-each {
  display: block;
  position: relative;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  -webkit-clip-path: url("#hexagon-clip");
  clip-path: url("#hexagon-clip");
  margin: 0 auto;
}

.clip-solid {
  width: 500px;
  height: 500px;
  background-image: url("http://karenmenezes.com/shapes-polygon/clip-demo-img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e0c05e;
  background-blend-mode: hard-light;
  -webkit-transition: all 2.5s linear;
  transition: all 1.5s linear;
}
.clip-gradient {
  background-color: #234247;  /*  #b3cec5; */
  width: 500px;
  height: 500px;
}

.clip-gradient .clip-caption {
  color: #fff;
}

.clip-border {
  background-color: #7fc499;
  width: 500px;
  height: 500px;
  margin-top: 7px;
}
@media screen and (max-width:3440px) {
  .wrap{
    width: 70%;
    margin-left: 15%;
  }
  .clip-block1{
    margin-top:inherit;
  }
  .clip-block1{
    margin-top:8%;
  }
  .clip-solid {
    margin-top: 20%;
    width: 450px;
    height: 450px;
  }
  .clip-gradient{
    width: 430px;
    height: 430px;
  }
  .clip-border {
    width: 430px;
    height: 430px;
  }
  .article{
    font-size: 20px;
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .article-top-right{
      font-size: 20px;
      padding-top: 20%;
      padding-left: 20%;
      padding-right: 20%;
  }
  .clip-caption-image{
    width: 350px;
    margin-top:5%;
  }
}
  @media screen and (max-width:1440px){
    .wrap{
      width: 60%;
      margin-left: 20%;
      background-color: #e9ecef;
      border-radius: 100px;
      box-shadow: inset 1px -1px 20px 0px #206e6b;
    }
    .clip-solid {
      margin-top:27%;
      width: 380px;
      height: 380px;
    }
    .clip-gradient{
      width: 360px;
      height: 360px;
    }
    .clip-border {
      width: 360px;
      height: 360px;
    }
    .article{
      font-size: 18px;
      padding-top: 25%;
      padding-left: 20%;
      padding-right: 20%;
    }
    .article-top-right{
      font-size: 17px;
      padding-top: 25%;
      padding-left: 20%;
      padding-right: 20%;
    }
    .clip-caption-image{
      width:70%;
     }
    .clip-caption-image{
      width: 70%;
     }
  }
  @media screen and (max-width:1024px) {
    .wrap{
      margin: 5%;
      width: 90%;
    }
  }
  @media only screen and (max-width: 768px) {
    .wrap{
      width: 100%;
      margin: 0;
    }
    .clip-solid {
      margin-top: 23%;
      width: 350px;
      height: 350px;
    }
    .clip-gradient{
      width: 300px;
      height: 300px;
    }
    .clip-border {
      width: 300px;
      height: 300px;
    }
    .article{
      font-size:14px;
    }
    .article-top-right{
      font-size: 14px;
    }
    .clip-caption-image{
      width: 80%;
     }
  }
  
  @media only screen and (max-width: 550px) {
    .wrap {
      display: flex;
      position: relative;
    }
  
    .clip-block {
      display: table-cell;
      vertical-align: middle;
    }
  
    .clip-border {
      margin-top: 20px;
    }
    .article{
      padding: 60px;

    }
  }
  @media screen and (max-width:430px) {
    .clip-solid {
      width: 300px;
      height: 300px;
    }
    .clip-gradient{
      width: 300px;
      height: 300px;
    }
    .clip-border {
      width: 300px;
      height: 300px;
    }
    .article{
      padding: 60px;
      text-align: center;
      font-size: small;
      font-style: italic;
    }
    .article-top-right{
      font-size: small;
    }
    .clip-block{
      margin-top:inherit;
      margin-bottom: inherit;
    }
    .clip-caption-image{
     width: 70%;
    }
  }
  
@media only screen and (max-width: 320px) {
  .clip-solid {
    width: 270px;
    height: 270px;
  }
  .clip-gradient{
    width: 270px;
    height: 270px;
  }
  .clip-border {
    width: 270px;
    height: 270px;
  }
  .clip-caption-image{
    width: 70%;
  }
}