.main-exe-cv-container{
  margin-top: 15%;
  font-size: small;
  font-style: italic;
}
.exe-cv-container{
    margin-right: 0px;
    width: 100%;
    justify-content: space-evenly;
    text-align:justify;
    font-family: sans-serif;
}
.userName{
  font-size: 20px;
  font-weight: bold;
}
.exampleTitle{
  color:rgb(2, 47, 47);
  font-size: 15px;
}
.exampleCalendar{
  display: inline-block;
  font-size: 15px;
  margin: 10px;
}
.avatar_image{
  width: 140px;
  height: 140px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 5px 10px 13px 5px #80918b;
}
.exe-cv-container1{
  transform: perspective(600px) rotateX(0deg) rotateY(0deg) scale(1);
  width: 30%;
  margin-top:8%;
  margin-left:2% ;
  float: left;
  padding-left: 1.0rem ;
  padding-right: 1.0rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: url("../images/background.jpg");
  box-shadow: 5px 5px 5px 5px #5c8f7b;
}
.exe-cv-container2{
  width: 62%;
  margin-top:8%;
  margin-right: 3%;
  float: right;
  padding-left: 1.0rem ;
  padding-right: 1.0rem ;
  padding:20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url("../images/background.jpg");
  box-shadow: 5px 5px 5px 5px #5c8f7b;;
  }
  .exe-cv-container3{
    width: 62%;
    margin-top:3%;
    margin-right: 3%;
    float: right;
    padding:20px;
    padding-left: 1.0rem ;
    padding-right: 1.0rem ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url("../images/background.jpg");
    box-shadow: 5px 5px 5px 5px #5c8f7b;;
  }
@media screen and (min-width:1440px) {
    /* .message-question{
      font-size: 80px;
    } */
  }
@media screen and (max-width:340px) {
  /* .message-container{
    float: inherit;
    width: inherit;
  }
  .exe-cv-container{
    width: inherit;
    margin-right: 3%;
  }
  .message-question{
    color: orange;
  }
  .message-title{
    color: #203838;
  }
  .message-text{
    font-size: larger;
  } */
  .exe-cv-container1{
    width: 100%;
    margin-left: 4%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   }
   .exe-cv-container2{
     width: 100%;
     float: left;
     margin-left: 4%;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
   }
   .exe-cv-container3{
     width: 100%;
     float: left;
     margin-top:8%;
     margin-left: 4%;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
   }
   .avatar_image{
     width: 40px;
     height: 40px;
   }
 }
 
@media screen and (max-width:780px) {
  .exe-cv-container1{
    width: 90%;
    margin-left: 4%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   }
   .exe-cv-container2{
     width: 90%;
     float: left;
     margin-left: 4%;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
   }
   .exe-cv-container3{
     width: 90%;
     float: left;
     margin-top:8%;
     margin-left: 4%;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
   }
   .avatar_image{
    width: 140px;
    height: 140px;
    margin-bottom: .3rem;
   }
 }
 @media screen and (max-width:425px) {
  .exe-cv-container1 ,
  .exe-cv-container2, 
  .exe-cv-container3 {
    width: 85%;
    margin-left: 7%;
  }
 }

  