.Register {
  margin-top:10%;
  margin-bottom: 20%;
  position: relative;
  width: 100%;
  }
 .register-container{
  width: 70%;
  }
.register-form-control{
  margin: 7px auto;
  padding: 1%;
  padding-left: 20%;
  padding-right: 15%;
  text-align: center;
  color: #152c42;
}
.register-form-control input{
  border:1px solid #cf903c;
  padding: 1%;
  width: 70%;
  border-radius: 6px;
}
.register-form-control button{
  text-align: center; 
  border:3px solid #1aaa45; 
  padding: 1%;
  width: 50%;
  border-radius: 10px;;
  color: #0d1824; 
  background:none;
  font-size: 20px;
  box-sizing: border-box;
}
.register-title {
  box-sizing: content-box;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color:#143120;
  }
.mandatory-combination{
    text-align: center;
    font-weight: bold;
    color:#ff9913;
    font-style: italic;
  }
  @media screen and (min-width:1024px) {
    .register-container {
      width: 80%;
      margin-left: 10%;
      }
  }
@media screen and (max-width:780px) {
  .register-container {
    width: 100%;
    }
}