.cv-container{
    justify-content: space-evenly;
    text-align:justify;
    font-family: sans-serif;
  }
  .main-exe-cv-container{
    margin-top:5%
  }
.float-child1 {
  width: 26%;
  margin-left:8% ;
  float: left;
  padding-left: 2.0rem !important;
  padding-right: 2.0rem !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: url("../images/background.jpg");
  box-shadow: 5px 5px 5px 5px #5c8f7b;
} 
.float-child2 {
  width: 56%;
  margin-right: 8%;
  float: right;
  padding-left: 2.0rem !important;
  padding-right: 2.0rem !important;
  padding:20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url("../images/background.jpg");
  box-shadow: 5px 5px 5px 5px #5c8f7b;;
} 
.float-child3 {
  width: 56%;
  margin-top:2%;
  margin-right: 8%;
  float: right;
  padding:20px;
  padding-left: 2.0rem !important;
  padding-right: 2.0rem !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url("../images/background.jpg");
  box-shadow: 5px 5px 5px 5px #5c8f7b;;
} 
.shared-link{
  width: 55%;
  padding: 5px;
  text-align: center;
  border: 3px solid rgb(85, 156, 234);
  border-radius: .25rem;
}
.card-title{
  text-align: center;
}
.editBtn{
  float: right;
  border-radius: 20px;
  border-color: aliceblue;
  color: teal;
}
.editBtn:hover{
  color:aliceblue;
  background-color: cadetblue;
}
.onGoingSpan{
  display: inline-flex;
  width: 30%;
  justify-content: center;
  margin-left:2%;
  color: aliceblue;
  background-color:#279081;
  border-radius: 20px;
  border-color: aliceblue;
}
.title{
  font-size: 20px;
  font-weight: 600;
  color:rgb(85 156 234);
}
.form-title{
  font-size: 30px;
  font-weight: bold;
  font-variant: all-small-caps;
  color:rgb(87, 85, 85);
}
.profile-image-container{
  margin-bottom: 20px;
}
.profile-image{
  width: 180px;
  height: 180px;
  border-radius: 20px;
  box-shadow: -1px 0px 18px 3px #80918b;
}
.profile_edit_form{
 width: 100%;
}
.isItPublic_checkbox{
  margin-left: 30px;
  font-size: x-large;
  color: #31675b;
  font-variant: all-small-caps;
}
.user-name{
  font-size:25px;
  font-weight: bold;
}
.dateTime{
  color:#3c6c56;
  font-size: larger;
  
}
.dividing-line{
  color:#606161;
}
.calendar{
  display: inline-block;
  margin: 10px;
}
.description{
  color:  #1f1c1c;
}
.Container{
  /* margin-top:10%; */
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: .25rem;
}
.form-control{
  /* display: inline-block !important; */
  width: 90% !important;
}
input:hover{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
::placeholder{
  color:rgb(194, 186, 186);
  font-size: 15;
}
@media screen and (max-width:1440px){ 
  .float-child1{
    width: 25%;
    margin-left: 15%;
   }
   .float-child2{
     width: 45%;
     /* float: left; */
     margin-right: 13%;
   }
   .float-child3{
     width: 45%;
     /* float: left; */
     margin-right: 13%;
     margin-top:2%;
   }
   .onGoingSpan{
     width: 40%;
   }
 }
 @media screen and (max-width:2560px){ 
  .float-child1{
    width: 20%;
    margin-left: 19%;
   }
   .float-child2{
     width: 40%;
     margin-right: 20%;
   }
   .float-child3{
     width: 40%;
     margin-right: 20%;
     margin-top:1%;
   }
 }
 @media screen and (max-width:1440px){ 
  .float-child1{
    width: 25%;
    margin-left: 15%;
   }
   .float-child2{
     width: 45%;
     /* float: left; */
     margin-right: 13%;
   }
   .float-child3{
     width: 45%;
     /* float: left; */
     margin-right: 13%;
     margin-top:2%;
   }
   .onGoingSpan{
     width: 40%;
   }
 }
 @media screen and (max-width:1024px){ 
  .float-child1{
    width: 30%;
    margin-left: 10%;
   }
   .float-child2{
     width: 46%;
     /* float: left; */
     margin-right: 12%;
   }
   .float-child3{
     width: 46%;
     /* float: left; */
     margin-right: 12%;
     margin-top:2%;
   }
 }
@media screen and (max-width:780px){ 
  .float-child1{
    width: 70%;
    margin-left: 15%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   }
   .float-child2{
     width: 70%;
     float: left;
     margin-top:4%;
     margin-left: 15%;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
   }
   .float-child3{
     width: 70%;
     float: left;
     margin-left: 15%;
     margin-top:4%;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
   }
   .onGoingSpan{
     width: 60%;
   }
 }
 @media screen and (max-width:375px) {
  .float-child1{
    width: 80%;
    margin-left: 10%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   }
   .float-child2{
     width: 80%;
     float: left;
     margin-left: 10%;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
   }
   .float-child3{
     width: 80%;
     float: left;
     margin-top:8%;
     margin-left: 10%;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
   }
   /* .onGoingSpan{
     width: 60%;
   } */
 }

