body {
  /* background: rgb(0,200,170);
  background: linear-gradient(to right,#313B47,#00C8AA); */
  background-color: #e4e9e9;;
  
  /* background-image: url('./images/background.jpg'); */
  text-align: center;
}

code {
  font-family: 'Nunito', sans-serif;
}